:root {
    /* Color styles */
    --light-blue-green: #1ABC9C;
    --dark-blue: #2C3E50;
    --white: #FFFFFF;
    --petrol: #3A546D;
    --black: #000
}

/* GENERAL */
body {
    background-color: var(--white);
    color: var(--black);
    scroll-behavior: smooth;
}

#portfolio,
#about,
#contact {
    scroll-margin-bottom: 3rem;
}

/* COLOR */
.bg-dark-grey {
    background-color: var(--dark-blue);
}

.txt-dark-grey {
    color: var(--dark-blue);
}

.bg-green {
    background-color: var(--light-blue-green);
}

.bg-grey {
    background-color: var(--petrol);
}

.bg-white {
    background-color: var(--white);
}

.link-color {
    color: var(--light-blue-green);
}

/* BTN */
.my-btn-outline-success {
    color: var(--light-blue-green);
    border: 1px solid var(--light-blue-green);
}

.btn.my-btn-outline-success:hover {
    background-color: var(--light-blue-green);
    border: 1px solid var(--light-blue-green);
}

/* LINK */
.nav-link {
    color: var(--white);
}

.nav-link:hover {
    color: var(--light-blue-green);
}

/* HEADER */
header {
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    padding: 10px;
}

/* MAIN */
#hero {
    padding-top: 100px;
}

img.avatar {
    width: 25%;
    max-width: 100%;
}

.cards {
    width: 100%;
}

.fa-star {
    width: 20%;
}

.star::before,
.star::after {
    content: '';
    display: block;
    background-color: var(--white);
    height: 3px;
    width: 40%;
}

.star-dark::before,
.star-dark::after {
    content: '';
    display: block;
    background-color: var(--dark-blue);
    height: 3px;
    width: 40%;
}

.layover-container {
    cursor: pointer;
}

.layover-container::after {
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--white);
    opacity: 0;
    transition: opacity 500ms;
}

.layover-container:hover::after {
    opacity: 1;
}