/* RESET */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.debug {
    border: 1px solid black;
    min-height: 50px;
}

:root {
    /* Color styles */
    --light-blue-green: #1ABC9C;
    --dark-blue: #2C3E50;
    --white: #FFFFFF;
    --petrol: #3A546D;
    --black: #000
}

/* TEXT */


/* PADDING & MARGIN */


/* COLOR */
.dark-grey {
    background-color: var(--dark-blue);
}

.bg-green {
    background-color: var(--light-blue-green);
}

.bg-grey {
    background-color: var(--petrol);
}

.bg-white {
    background-color: var(--white);
}

/* GENERAL */
body {
    background-color: var(--white);
    color: var(--black);
}


/* HEADER */
header {
    background-color: var(--dark-blue);
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}

/* MAIN */
#hero {
    padding-top: 100px;
}

img.avatar {
    width: 70%;
    max-width: 70%;
}

.cards {
    width: 100%;
}

img.image {
    width: 100%;
    max-width: 100%;
}

/* .icon:before {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid var(--white);
} */

/* .icon:after {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid var(--white);
} */


@media screen and (min-width: 768px) {
    .col-sm-12 {
        display: none;
    }

    .col-md-6 {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .col-md-6 {
        display: none;
    }

    .col-lg-4 {
        display: block;
    }
}